Flask
gunicorn
python-dotenv
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
Flask-JWT-Extended
Werkzeug
Flask-CORS
Flask-Limiter
redis
requests
urllib3
beautifulsoup4
user-agents
lxml
sib-api-v3-sdk
qrcode[pil]
Pillow
sentry-sdk[flask]
pytest
pytest-cov
black
flake8